/* Пиши стили тут */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.star {
    display: flex;
    flex-direction: row-reverse;
}

.star input[type="radio"] {
    display: none;
}

.star label {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url('img/star-empty.svg');
    background-size: cover;
    display: inline-block;
}

.star label:hover,
.star label:hover ~ label {
    background-image: url('img/star.svg');
}
